<section class="bg">
  <div class="content-bg">
    <div class="cover">
      <img src="page-header.jpg" alt="" width="100%" class="img" />
      <div class="about-text">
        <div class="mb-10 text-center text">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Barbershop Gallery</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
    <div class="container px-5 mx-auto">
        <div class="row">
            <ul class="gallery_filter">
                <li id="active" class="filter">All</li>
                <li class="filter">Haircut</li>
                <li class="filter">Face Masking</li>
                <li class="filter">Shaving</li>
                <li class="filter">Hair color</li>
            </ul>

            <div class="gal-img">
                <div class="colum">
                    <img src="portfolio-1.jpg" alt="" width="602px" class="img">
                    <img src="portfolio-2.jpg" alt="" width="300px" class="img">
                    <img src="portfolio-3.jpg" alt="" width="300px" class="img">
                </div>
                <div class="colum mt-2">
                    <img src="portfolio-4.jpg" alt="" width="300px" class="img">
                    <img src="portfolio-5.jpg" alt="" width="300px" class="img">
                    <img src="portfolio-6.jpg" alt="" width="602px" class="img">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta-section">
  <div class="content-bg">
    <div class="cover">
      <img src="cta.jpg" alt="" width="100%" class="img" />
      <div class="cta-text">
        <div class="text">
          <h2 class="head">Making You Look Good <br />Is In Our Haritage.</h2>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress groom
            <br />
            style and shave men's and boys hair.
          </p>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>