<section class="bg">
  <div class="content-bg">
    <div class="cover">
      <img src="page-header.jpg" alt="" width="100%" class="img" />
      <div class="about-text">
        <div class="mb-10 text-center text">
          <h3 class="top-head">Trendy Salon & Spa</h3>
          <h2 class="head">Barbershop News</h2>
          <img src="heading-line.png" alt="" width="200px" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="left-content">
        <div class="blog-thumb">
          <img src="post-single.jpg" alt="" width="100%" />
        </div>
        <div class="single-content">
          <h2 class="head">Minimalist trending in modern architecture 2019</h2>
          <ul class="single-post-meta">
            <li>
              <i class="fa fa-user icon"></i>
              <a href="#" class="meta-link">Admin</a>
            </li>
            <li>
              <i class="fa fa-calendar icon"></i>
              <a href="#" class="meta-link">19 Feb, 2019</a>
            </li>
            <li>
              <i class="fa fa-comments icon"></i>
              <a href="#" class="meta-link">2 Comments</a>
            </li>
          </ul>
          <p class="para">
            Architectural phenomenology is a movement within architecture that
            began in the 1950s, reaching a wide audience in the late 1970s and
            1980s, and continuing until today. Architectural phenomenology
            focuses on human experience, background, intention and historical
            reflection, interpretation as well as poetic and ethical
            considerations with authors such as Gaston Bachelard.[21]
          </p>
          <p class="para">
            Islamic architecture began in the 7th century CE, incorporating
            architectural forms from the ancient Middle East and Byzantium, but
            also developing features to suit the religious and social needs of
            the society. Examples can be found throughout the Middle East, North
            Africa, Spain and the Indian Sub-continent.
          </p>
          <blockquote class="blockquote">
            <div class="dots"></div>
            <p class="para">
              “Architecture is really about well-being. I think that people want
              to feel good in a space… On the one hand it’s about shelter, but
              it’s also about pleasure.”
            </p>
            <span class="quoter">- Dr. Anders Ericsson</span>
          </blockquote>
          <p class="para">
            The most important aspect of beauty was, therefore, an inherent part
            of an object, rather than something applied superficially, and was
            based on universal, recognisable truths. The notion of style in the
            arts was not developed until the 16th century, with the writing of
            Vasari:[11] by the 18th century, his Lives of the Most Excellent
            Painters, Sculptors, and Architects had been translated into
            Italian, French, Spanish, and English.
          </p>
          <ul class="post-tags">
            <li><a href="#" class="link">architecture</a></li>
            <li><a href="#" class="link">building</a></li>
            <li><a href="#" class="link">interior</a></li>
            <li><a href="#" class="link">design</a></li>
          </ul>
          <div class="author-box">
            <img src="comment-3.png" alt="img" width="100px" class="img" />
            <div class="author-info">
              <h3 class="head">Albert Nouwen</h3>
              <p class="para">
                Barbershop is a different kind of architecture practice. Founded
                by LoganCee in 1991, we’re an employee-owned firm pursuing a
                democratic design.
              </p>
              <ul class="social-icon">
                <li class="icon">
                  <a href="#"><i class="fa-facebook"></i></a>
                </li>
                <li class="icon">
                  <a href="#"><i class="fa-twitter"></i></a>
                </li>
                <li class="icon">
                  <a href="#"><i class="fa-instagram"></i></a>
                </li>
                <li class="icon">
                  <a href="#"><i class="fa-pinterest"></i></a>
                </li>
                <li class="icon">
                  <a href="#"><i class="fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="post-navigation row">
            <div class="prev-post">
              <a href="#" class="post-link"
                ><i class="fas fa-arrow-left"></i>Prev Post</a
              >
            </div>
            <div class="next-post">
              <a href="#" class="post-link"
                >Next Post <i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>

          <div class="comment-respond">
            <h3 class="title">Write a Comment</h3>
            <form method="post" id="commentform" class="comment-form">
              <div class="form-textarea">
                <textarea class="textarea"
                  id="comment"
                  placeholder="Write Your Comments...">
                </textarea>
              </div>
              <div class="form-inputs">
                <input placeholder="Website" type="url" class="web" />
                <div class="input">
                    <input placeholder="Name" type="text" class="na" />
                    <input placeholder="Email" type="email" class="em"/>
                </div>
              </div>
            <div class="get-quote">
                <a href="#" class="hbtn hb-fill-middle2-rev" value="Post Comment" type="submit">
                    Post Comment
                </a>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="right-content">
        <div class="search">
          <input type="text" class="input" placeholder="Type here" />
        </div>
        <div class="widget-content">
          <h4 class="head">
            Categories
            <hr class="hr" />
          </h4>
          <ul class="widget-links">
            <li><a href="#" class="link">Architecture</a></li>
            <li><a href="#" class="link">Interior Design</a></li>
            <li><a href="#" class="link">Designing</a></li>
            <li><a href="#" class="link">Construction</a></li>
            <li><a href="#" class="link">Buildings</a></li>
          </ul>
        </div>

        <div class="widget-content">
          <h4 class="head">
            Recent Posts
            <hr class="hr" />
          </h4>
          <ul class="thumb-post">
            <li class="thumb-link">
              <img src="post-1.jpg" alt="post" class="post" />
              <a href="#" class="link-text"
                >Minimalist trending in <br />modern architecture 2019</a
              >
            </li>
            <li class="thumb-link">
              <img src="post-2.jpg" alt="post" class="post" />
              <a href="#" class="link-text"
                >Terrace in the town kentaro <br />design workshop.</a
              >
            </li>
            <li class="thumb-link">
              <img src="post-3.jpg" alt="post" class="post" />
              <a href="#" class="link-text"
                >W270 house são arquitetos <br />fabio architeqture.</a
              >
            </li>
          </ul>
        </div>

        <div class="widget-content">
          <h4 class="head">
            Tag Clouds
            <hr class="hr" />
          </h4>
          <ul class="tags">
            <div class="block">
              <li class="tag-link">
                <a href="#" class="tag-text">Architecture</a>
              </li>
              <li class="tag-link">
                <a href="#" class="tag-text">Interior Design</a>
              </li>
              <li class="tag-link">
                <a href="#" class="tag-text">Designing</a>
              </li>
            </div>
            <div class="block">
              <li class="tag-link">
                <a href="#" class="tag-text">Construction</a>
              </li>
              <li class="tag-link">
                <a href="#" class="tag-text">Buildings</a>
              </li>
              <li class="tag-link">
                <a href="#" class="tag-text">Industrial</a>
              </li>
            </div>
            <div class="block">
              <li class="tag-link"><a href="#" class="tag-text">Factory</a></li>
              <li class="tag-link">
                <a href="#" class="tag-text">Material</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
