<div class="error">
    <div class="container px-5 mx-auto">
        <img src="not-found.png" alt="" width="200px" class="mb-5">
        <div class="text">
        <h2 class="head">404 Error Not Found</h2>
        <p class="para">The Page Looking for is not here. We can’t find the page you’re looking for. <br>
            Check our our Help Center or head back to home.
        </p>
        <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Back to Home</a>
          </div>
    </div>
    </div>
</div>
