.bg{
    margin-top: 70px;
    .content-bg{
        .cover{
            position: relative;
            .img{
                height: 500px;
                object-fit: cover;
                object-position: center center;
            }
            .about-text{
            position: absolute;
              top: 50%;
              left: 50%;
              right: -50%;
              transform: translate(-50%, -50%);
              display: flex;
              align-items: center;
              justify-content: center;
                .text{
                    width: 100%;
                    text-align: center;
                    .top-head{
                        color: #9e8a78;
                        font-weight: 400;
                        font-size: 17px;
                        margin-bottom: 10px;
                    }
                    .head{
                        font-size: 36px;
                        line-height: 48px;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 8px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}


.price{
  margin: 70px 0px;
  .row{
    .top-head{
      color: #9e8a78;
      font-weight: 400;
      font-size: 17px;
      margin-bottom: 10px;
    }
    .head{
      font-size: 36px;
      line-height: 48px;
      font-weight: 400;
      color: #303133;
      margin-bottom: 8px;
      letter-spacing: 0;
    }

    .price-info{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      .card{
        width: 400px;
        .price-head{
        background-color: #9e8a78;
        display: inline-block;
        padding: 10px 15px;
        color: #fff;
        margin: 0 0 20px;
      }
      .details{
        .detail-item{
          margin-bottom: 40px;
          .detail-head{
            color: #333;
            font-size: 18px;
            letter-spacing: 0.5px;
            margin: 0 0 6px;
            .line{
              color: #9e8a78;
              font-size: 12px;
            }
            .tag{
              color: #9e8a78;
              font-size: 24px;
            }
          }
          .detail-para{
            font-size: 16px;
            color: #777777;
          }
        }
      }
      }
    }
  }
}


.cta-section{
    margin: 70px 0px;
    .content-bg{
        .cover{
            position: relative;
            .img{
                height: 500px;
                object-fit: cover;
                background-attachment: fixed;
            }
            .cta-text{
            position: absolute;
              top: 50%;
              left: 50%;
              right: -50%;
              transform: translate(-50%, -50%);
              display: flex;
              align-items: center;
              justify-content: center;
                .text{
                    width: 100%;
                    text-align: center;
                    .head{
                      color: #fff;
                      font-size: 42px;
                      line-height: 56px;
                      margin-bottom: 15px;
                    }
                    .caption{
                        font-size: 18px;
                        color: #DDDDDD;
                        margin-top: 27px;
                        margin-bottom: 20px;
                    }

                    .get-quote{
                    .hbtn {
                        position: relative;
                        box-sizing: border-box;
                        display: inline-block;
                        overflow: hidden;
                        padding: 0 30px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        white-space: nowrap;
                        z-index: 0;
                        font-size: 12px;
                        font-weight: 700;
                  }                        
                  
                  .hb-fill-middle2-rev::before {
                        position: absolute;
                        content: "";
                        background: #9e8a78;
                        transition-duration: 0.4s;
                        z-index: -1;
                        inset: 0px 0px auto auto;
                        width: 50%;
                        height: 100%;
                        opacity: 1;
                  } 
                   
                  
                  .hb-fill-middle2-rev:hover::before {
                        width: 0px;
                        height: 100%;
                        opacity: 1;
                  } 
                   
                  
                  .hb-fill-middle2-rev {
                        background: #32323a;
                        color: rgb(255, 255, 255);
                        transition: color 0.3s, background 0.3s;
                  } 
                   
                  
                  .hb-fill-middle2-rev:hover {
                        background: #32323a;
                        color: rgb(255, 255, 255);
                        transition: color 0.3s, ;
                  } 
                   
                  
                  .hb-fill-middle2-rev::after {
                        position: absolute;
                        content: "";
                        background: #9e8a78;
                        transition-duration: 0.4s;
                        z-index: -1;
                        inset: 0px auto auto 0px;
                        width: 50%;
                        height: 100%;
                        opacity: 1;
                  } 
                   
                  
                  .hb-fill-middle2-rev:hover::after {
                        width: 0px;
                } 
                  
                }
                }
            }
        }
    }
}