<section class="bg">
  <div class="content-bg">
    <div class="cover">
      <img src="page-header.jpg" alt="" width="100%" class="img" />
      <div class="about-text">
        <div class="mb-10 text-center text">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Barbershop</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>
      </div>
    </div>
  </div>
</section>


<section class="about">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="intro">
        <h3 class="top-head">Introducing</h3>
        <h2 class="head">The Barber Shop <br />Science 1991</h2>
        <img src="about-logo.png" alt="" width="200px" class="mb-6" />
        <p class="para">
          Barber is a person whose occupation is mainly to cut dress groom style
          and shave men's and boys' hair. A barber's place of work is known as a
          "barbershop" or a "barber's". Barbershops are also places of social
          interaction and public discourse. In some instances, barbershops are
          also public forums.
        </p>
        <div class="get-quote">
          <a href="#" class="hbtn hb-fill-middle2-rev">MORE ABOUT US</a>
        </div>
      </div>

      <div class="img-gall">
        <img src="about-1.jpg" alt="" class="img" />
        <img src="about-2.jpg" alt="" class="img-2" />
        <img src="about-3.jpg" alt="" class="img-3" />
      </div>
    </div>
  </div>
</section>


<section class="service">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Services</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="service-info">
        <div class="card">
          <img src="icon-1.png" alt="" width="90px" />
          <h3 class="head">Haircut Styles</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-2.png" alt="" width="90px" />
          <h3 class="head">Beard Triming</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-3.png" alt="" width="70px" />
          <h3 class="head">Smooth Shave</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-4.png" alt="" width="90px" />
          <h3 class="head">Face Masking</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="team">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Barbers</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="team-info">
        <div class="card">
          <img src="team-1.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Kyle Frederick</h3>
            <p class="caption">WEB DESIGNER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-2.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">José Carpio</h3>
            <p class="caption">WORDPRESS DEVELOPER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-3.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Michel Ibáñez</h3>
            <p class="caption">ONLINE MARKETER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-4.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Adam Castellon</h3>
            <p class="caption">JAVA SPECIALIST</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="cta-section">
  <div class="content-bg">
    <div class="cover">
      <img src="cta.jpg" alt="" width="100%" class="img" />
      <div class="cta-text">
        <div class="text">
          <h2 class="head">Making You Look Good <br />Is In Our Haritage.</h2>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress groom
            <br />
            style and shave men's and boys hair.
          </p>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>