<header>
  <nav>
    <div class="row" appClickOutside="check">
      <!-- Checkbox for toggling menu -->
      <input type="checkbox" id="check" />
      <!-- Menu icon -->
      <label for="check" class="checkbtn">
        <img src="menu.png" alt="" width="24px" />
      </label>

      <label class="logo">
        <a href="#"><img class="img" src="logo.png" alt="" /></a>
      </label>
      <ul class="menu-link">
        <li class="menu"><span routerLink="**">Home</span></li>
        <li class="menu"><span routerLink="about">About</span></li>
        <li class="menu"><span routerLink="services">Services</span></li>
        <li class="menu dropdown">
          <span>Pages</span>
            <ul class="dropdown-content">
              <li><span routerLink="appointment">Appointment</span></li>
              <li><span routerLink="gallery">Gallery</span></li>
              <li><span routerLink="team">Our Team</span></li>
              <li><span routerLink="price">Our Pricing</span></li>
              <li><span routerLink="error">404 Error</span></li>
          </ul>
        </li>
        <li class="menu"><span routerLink="blogs">Blog</span></li>
        <li class="menu"><span routerLink="contact">Contact</span></li>
        <div class="get-quote">
          <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
        </div>
      </ul>
    </div>
  </nav>
</header>

<router-outlet/>

<footer class="footer">
  <div class="container px-5 mx-auto">
    <div class="content">
      <div class="footer_widget mb-13">
        <img class="mb-4" src="logo.png" alt="Brand" />
        <p class="widget-text">
          Our barbershop is the created for men who appreciate premium quality,
          time and flawless look.
        </p>
        <ul class="widget_social">
          <li class="widget-text">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="color: #fff;" viewBox="0 0 320 512"><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg></a>
          </li>
          <li class="widget-text">
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="widget-text">
            <a href="#"><i class="fa fa-googleplus"></i></a>
          </li>
          <li class="widget-text">
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="widget-text">
            <a href="#"><i class="fa fa-linkdin"></i></a>
          </li>
        </ul>
      </div>

      <div class="footer_widget">
        <h3 class="head">Headquaters</h3>
        <p class="widget-text">962 Fifth Avenue, 3rd Floor New York, NY10022</p>
        <p class="widget-text">Hellodynamiclayers.net <br />(+123) 456 789 101</p>
      </div>

      <div class="footer_widget">
        <h3 class="head">Opening Hours</h3>
        <ul class="opening_time">
          <li class="widget-time">Monday - Friday 11:30am - 2:008pm</li>
          <li class="widget-time">Saturday – Monday: 9am – 8pm</li>
          <li class="widget-time">Monday - Friday 5:30am - 11:008pm</li>
          <li class="widget-time">Saturday - Sunday 4:30am - 1:00pm</li>
        </ul>
      </div>

      <div class="footer_widget">
        <h3 class="head">Subscribe to our contents</h3>
        <div class="subscribe_form">
          <form action="#" class="subscribe_form">
            <input
              type="email"
              name="EMAIL"
              id="subs-email"
              class="form_input"
              placeholder="Email Address..."
            />
            <button type="submit" class="submit">SUBSCRIBE</button>
          </form>
        </div>
        <!-- Subscribe Form -->
      </div>
    </div>
  </div>
</footer>

  <div class="hr"></div>
<div class="footer-section">
  <div class="container px-5 mx-auto">
      <div class="terms">
        <span class="creator">© 2025 Barber Shop Powered by Arun</span>
        <div class="keys">
          <p>Terms</p>
          <p>Orders</p>
          <p>Report Problem</p>
        </div>
      </div>
</div>
</div>