<section class="bg">
  <div class="content-bg">
    <div class="cover">
      <img src="page-header.jpg" alt="" width="100%" class="img" />
      <div class="about-text">
        <div class="mb-10 text-center text">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Barbershop Services</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>
      </div>
    </div>
  </div>
</section>


<section class="service">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="service-info mb-5">
        <div class="card">
          <img src="service-1.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Haircut Styles</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="service-2.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Beard Triming</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="service-3.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Smooth Shave</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="service-4.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Face Masking</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
      </div>

      <div class="service-info">
        <div class="card">
          <img src="service-5.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Beard Triming</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="service-6.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Hair Coloring</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="service-7.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Hair Straight</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="service-8.jpg" alt="" width="100%" class="ser-img"/>
          <h3 class="head">Bright Facial</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="cta-section">
  <div class="content-bg">
    <div class="cover">
      <img src="cta.jpg" alt="" width="100%" class="img" />
      <div class="cta-text">
        <div class="text">
          <h2 class="head">Making You Look Good <br />Is In Our Haritage.</h2>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress groom
            <br />
            style and shave men's and boys hair.
          </p>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>