<section class="bg">
  <div class="content-bg">
    <swiper-container loop="true" Autoplay="true">
      <swiper-slide>
        <div class="cover">
          <img src="slide-1.jpg" alt="" width="100%" class="img" />
          <div class="cover-text">
            <div class="text">
              <h3 class="head">Its Not Just a Haircut, Its an Experience.</h3>
              <h1 class="mid-head">
                Being a barber is about <br />
                taking care of the people.
              </h1>
              <p class="caption">
                Our barbershop is the territory created purely for males who
                appreciate <br />
                premium quality, time and flawless look.
              </p>
              <div class="get-quote">
                <a href="#" class="hbtn hb-fill-middle2-rev"
                  >Make Appointment</a
                >
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="cover">
          <img src="slide-2.jpg" alt="" width="100%" class="img" />
          <div class="cover-text">
            <div class="text">
              <h3 class="head">Classic Hair Style & Shaves.</h3>
              <h1 class="mid-head">
                Our hair styles <br />
                enhances your smile.
              </h1>
              <p class="caption">
                Our barbershop is the territory created purely for males who
                appreciate <br />
                premium quality, time and flawless look.
              </p>
              <div class="get-quote">
                <a href="#" class="hbtn hb-fill-middle2-rev"
                  >Make Appointment</a
                >
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="cover">
          <img src="slide-3.jpg" alt="" width="100%" class="img" />
          <div class="cover-text">
            <div class="text">
              <h3 class="head">Its Not Just a Haircut, Its an Experience.</h3>
              <h1 class="mid-head">
                Where mens want <br />
                to look there very best.
              </h1>
              <p class="caption">
                Our barbershop is the territory created purely for males who
                appreciate <br />
                premium quality, time and flawless look.
              </p>
              <div class="get-quote">
                <a href="#" class="hbtn hb-fill-middle2-rev"
                  >Make Appointment</a
                >
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>

<section class="about">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="intro">
        <h3 class="top-head">Introducing</h3>
        <h2 class="head">The Barber Shop <br />Science 1991</h2>
        <img src="about-logo.png" alt="" width="200px" class="mb-6" />
        <p class="para">
          Barber is a person whose occupation is mainly to cut dress groom style
          and shave men's and boys' hair. A barber's place of work is known as a
          "barbershop" or a "barber's". Barbershops are also places of social
          interaction and public discourse. In some instances, barbershops are
          also public forums.
        </p>
        <div class="get-quote">
          <a href="#" class="hbtn hb-fill-middle2-rev">MORE ABOUT US</a>
        </div>
      </div>

      <div class="img-gall">
        <img src="about-1.jpg" alt="" class="img" />
        <img src="about-2.jpg" alt="" class="img-2" />
        <img src="about-3.jpg" alt="" class="img-3" />
      </div>
    </div>
  </div>
</section>

<section class="service">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Services</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="service-info">
        <div class="card">
          <img src="icon-1.png" alt="" width="90px" />
          <h3 class="head">Haircut Styles</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-2.png" alt="" width="90px" />
          <h3 class="head">Beard Triming</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-3.png" alt="" width="70px" />
          <h3 class="head">Smooth Shave</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-4.png" alt="" width="90px" />
          <h3 class="head">Face Masking</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="book-section">
  <div class="content-bg">
    <div class="cover">
      <img src="satellite-map.png" alt="" width="100%" class="img" />
      <div class="form-text">
        <form
          action="appointment.php"
          method="post"
          id="appointment_form"
          class="form-horizontal"
        >
          <div class="book_content">
            <h2 class="head">Make an appointment</h2>
            <p class="para">
              Barber is a person whose occupation is mainly to cut dress groom
              <br />style and shave men's and boys hair.
            </p>
          </div>
          <div class="form-group">
            <div class="padding-10">
              <input
                type="text"
                id="app_name"
                name="app_name"
                class="form-control"
                placeholder="Name"
                required=""
              />
            </div>
            <div class="padding-10">
              <input
                type="email"
                id="app_email"
                name="app_email"
                class="form-control"
                placeholder="Your Email"
                required=""
              />
            </div>
          </div>
          <div class="form-group">
            <div class="padding-10">
              <input
                type="text"
                id="app_phone"
                name="app_phone"
                class="form-control"
                placeholder="Your Phone No"
                required=""
              />
            </div>
            <div class="padding-10">
              <input
                type="text"
                id="app_free_time"
                name="app_free_time"
                class="form-control"
                placeholder="Your Free Time"
                required=""
              />
            </div>
          </div>
          <div class="form-group">
            <div class="padding-10">
              <select id="sortBy" class="form-control">
                <option class="select">Services</option>
                <option class="select">Hair Styling</option>
                <option class="select">Shaving</option>
                <option class="select">Face Mask</option>
                <option class="select">Hair Wash</option>
                <option class="select">Beard Triming</option>
              </select>
            </div>
            <div class="padding-10">
              <select id="sortBy" class="form-control">
                <option class="select">Choose Barbers</option>
                <option class="select">Michel Brown</option>
                <option class="select">Jonathan Smith</option>
                <option class="select">Jack Tosan</option>
                <option class="select">Martin Lane</option>
              </select>
            </div>
          </div>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Barbers</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="team-info">
        <div class="card">
          <img src="team-1.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Kyle Frederick</h3>
            <p class="caption">WEB DESIGNER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-2.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">José Carpio</h3>
            <p class="caption">WORDPRESS DEVELOPER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-3.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Michel Ibáñez</h3>
            <p class="caption">ONLINE MARKETER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-4.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Adam Castellon</h3>
            <p class="caption">JAVA SPECIALIST</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="content-bg">
    <div class="cover">
      <img src="testimonial.jpg" alt="" width="100%" class="img" />
      <div class="testimonial-text">
        <div class="text">
          <p class="caption">
            "There are design companies, and then there are user experience
            design interface design <br />
            professional. By far one of the worlds best known brands."
          </p>
          <h3 class="head">Anita Tran, IT Solutions.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="price">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10 text-center">
        <h3 class="top-head">Save 20% On Beauty Spa</h3>
        <h2 class="head">Our Barber Pricing</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="price-info">
        <div class="card">
          <h3 class="price-head">Hair Styling</h3>
          <ul class="details">
            <li class="detail-item">
              <h4 class="detail-head">
                Hair Cut <span class="line">------------------------</span>
                <span class="tag">$8</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>

            <li class="detail-item">
              <h4 class="detail-head">
                Hair Styling <span class="line">------------------------</span>
                <span class="tag">$9</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>

            <li class="detail-item">
              <h4 class="detail-head">
                Hair Triming <span class="line">------------------------</span>
                <span class="tag">$10</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>
          </ul>
        </div>

        <div class="card">
          <h3 class="price-head">Saving</h3>
          <ul class="details">
            <li class="detail-item">
              <h4 class="detail-head">
                Clean Shaving
                <span class="line">------------------------</span>
                <span class="tag">$8</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>

            <li class="detail-item">
              <h4 class="detail-head">
                Beard Triming
                <span class="line">------------------------</span>
                <span class="tag">$9</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>

            <li class="detail-item">
              <h4 class="detail-head">
                Smooth Shave <span class="line">------------------------</span>
                <span class="tag">$10</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>
          </ul>
        </div>

        <div class="card">
          <h3 class="price-head">Face Masking</h3>
          <ul class="details">
            <li class="detail-item">
              <h4 class="detail-head">
                White Facial <span class="line">------------------------</span>
                <span class="tag">$8</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>

            <li class="detail-item">
              <h4 class="detail-head">
                Face Cleaning
                <span class="line">------------------------</span>
                <span class="tag">$9</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>

            <li class="detail-item">
              <h4 class="detail-head">
                Bright Tuning
                <span class="line">------------------------</span>
                <span class="tag">$10</span>
              </h4>
              <p class="detail-para">
                Barber is a person whose occupation is mainly to cut dress groom
                style and shave men.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-section">
  <div class="content-bg">
    <div class="cover">
      <img src="cta.jpg" alt="" width="100%" class="img" />
      <div class="cta-text">
        <div class="text">
          <h2 class="head">Making You Look Good <br />Is In Our Haritage.</h2>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress groom
            <br />
            style and shave men's and boys hair.
          </p>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10 text-center">
        <h3 class="top-head">From Blog</h3>
        <h2 class="head">
          A Good Newspaper Is A <br />Nation Talking To Itself
        </h2>
      </div>

      <div class="blog-detail">
        <div class="blog-item">
          <div class="blog-thumb">
            <img src="post-1.jpg" alt="post" width="100%" class="post" />
            <span class="category"><a href="#">interior</a></span>
          </div>
          <div class="blog-content">
            <h3 class="head">
              Minimalist trending in modern architecture 2019
            </h3>
            <p class="para">
              Building first evolved out dynamics between needs means available
              building materials attendant skills.
            </p>
            <a href="#" class="read-more">
              <hr class="hr" />
              Read More</a
            >
          </div>
        </div>

        <div class="blog-item">
          <div class="blog-thumb">
            <img src="post-2.jpg" alt="post" width="100%" class="post" />
            <span class="category"><a href="#">Architecture</a></span>
          </div>
          <div class="blog-content">
            <h3 class="head">
              Terrace in the town yamazaki kentaro design workshop.
            </h3>
            <p class="para">
              Building first evolved out dynamics between needs means available
              building materials attendant skills.
            </p>
            <a href="#" class="read-more">
              <hr class="hr" />
              Read More</a
            >
          </div>
        </div>

        <div class="blog-item">
          <div class="blog-thumb">
            <img src="post-3.jpg" alt="post" width="100%" class="post" />
            <span class="category"><a href="#">Design</a></span>
          </div>
          <div class="blog-content">
            <h3 class="head">
              W270 house são paulo arquitetos fabio jorge architeqture.
            </h3>
            <p class="para">
              Building first evolved out dynamics between needs means available
              building materials attendant skills.
            </p>
            <a href="#" class="read-more">
              <hr class="hr" />
              Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sponser">
  <div class="container px-5 mx-auto">
    <div class="spo-bg">
     <swiper-container loop="true" Autoplay="true" slides-per-view="5">
       <!-- @for (sponsor of sponsors; track $index){
          <swiper-slide>
            <div class="spo-images">
            <img [src]="sponsor.image" alt="" width="200px">
        </div>
      </swiper-slide>
        } -->

        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-1.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-2.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-3.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-4.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-5.png" alt="" width="200px">
        </div>
      </swiper-slide>


       <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-1.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-2.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-3.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-4.png" alt="" width="200px">
        </div>
      </swiper-slide>
        <swiper-slide>
            <div class="spo-images">
            <img src="sponsor-5.png" alt="" width="200px">
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  </div>
</section>