<section class="bg">
  <div class="content-bg">
    <div class="cover">
      <img src="page-header.jpg" alt="" width="100%" class="img" />
      <div class="about-text">
        <div class="mb-10 text-center text">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Make Appointment</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>
      </div>
    </div>
  </div>
</section>


<section class="service">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Services</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="service-info">
        <div class="card">
          <img src="icon-1.png" alt="" width="90px" />
          <h3 class="head">Haircut Styles</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-2.png" alt="" width="90px" />
          <h3 class="head">Beard Triming</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-3.png" alt="" width="70px" />
          <h3 class="head">Smooth Shave</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
        <div class="card">
          <img src="icon-4.png" alt="" width="90px" />
          <h3 class="head">Face Masking</h3>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress style.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="book-section">
  <div class="content-bg">
    <div class="cover">
      <img src="satellite-map.png" alt="" width="100%" class="img" />
      <div class="form-text">
        <form
          action="appointment.php"
          method="post"
          id="appointment_form"
          class="form-horizontal"
        >
          <div class="book_content">
            <h2 class="head">Make an appointment</h2>
            <p class="para">
              Barber is a person whose occupation is mainly to cut dress groom
              <br />style and shave men's and boys hair.
            </p>
          </div>
          <div class="form-group">
            <div class="padding-10">
              <input
                type="text"
                id="app_name"
                name="app_name"
                class="form-control"
                placeholder="Name"
                required=""
              />
            </div>
            <div class="padding-10">
              <input
                type="email"
                id="app_email"
                name="app_email"
                class="form-control"
                placeholder="Your Email"
                required=""
              />
            </div>
          </div>
          <div class="form-group">
            <div class="padding-10">
              <input
                type="text"
                id="app_phone"
                name="app_phone"
                class="form-control"
                placeholder="Your Phone No"
                required=""
              />
            </div>
            <div class="padding-10">
              <input
                type="text"
                id="app_free_time"
                name="app_free_time"
                class="form-control"
                placeholder="Your Free Time"
                required=""
              />
            </div>
          </div>
          <div class="form-group">
            <div class="padding-10">
              <select id="sortBy" class="form-control">
                <option class="select">Services</option>
                <option class="select">Hair Styling</option>
                <option class="select">Shaving</option>
                <option class="select">Face Mask</option>
                <option class="select">Hair Wash</option>
                <option class="select">Beard Triming</option>
              </select>
            </div>
            <div class="padding-10">
              <select id="sortBy" class="form-control">
                <option class="select">Choose Barbers</option>
                <option class="select">Michel Brown</option>
                <option class="select">Jonathan Smith</option>
                <option class="select">Jack Tosan</option>
                <option class="select">Martin Lane</option>
              </select>
            </div>
          </div>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="team">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="mb-10">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Our Barbers</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>

      <div class="team-info">
        <div class="card">
          <img src="team-1.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Kyle Frederick</h3>
            <p class="caption">WEB DESIGNER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-2.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">José Carpio</h3>
            <p class="caption">WORDPRESS DEVELOPER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-3.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Michel Ibáñez</h3>
            <p class="caption">ONLINE MARKETER</p>
          </div>
        </div>

        <div class="card">
          <img src="team-4.jpg" alt="" width="100%" class="img" />
          <div class="overlay">
            <h3 class="head">Adam Castellon</h3>
            <p class="caption">JAVA SPECIALIST</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="cta-section">
  <div class="content-bg">
    <div class="cover">
      <img src="cta.jpg" alt="" width="100%" class="img" />
      <div class="cta-text">
        <div class="text">
          <h2 class="head">Making You Look Good <br />Is In Our Haritage.</h2>
          <p class="caption">
            Barber is a person whose occupation is mainly to cut dress groom
            <br />
            style and shave men's and boys hair.
          </p>
          <div class="get-quote">
            <a href="#" class="hbtn hb-fill-middle2-rev">Make Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>