<section class="bg">
  <div class="content-bg">
    <div class="cover">
      <img src="page-header.jpg" alt="" width="100%" class="img" />
      <div class="about-text">
        <div class="mb-10 text-center text">
        <h3 class="top-head">Trendy Salon & Spa</h3>
        <h2 class="head">Barbershop News</h2>
        <img src="heading-line.png" alt="" width="200px" />
      </div>
      </div>
    </div>
  </div>
</section>

<section class="grid">
  <div class="container px-5 mx-auto">
    <div class="row">
      <div class="left-content">
        <div class="blog-detail">
          <div class="blog-item">
            <div class="blog-thumb">
              <img src="post-1.jpg" alt="post" width="100%" class="post">
              <span class="category"><a href="#">interior</a></span>
            </div>
            <div class="blog-content">
              <h3 class="head">Minimalist trending in modern architecture 2019</h3>
              <p class="para">
                Building first evolved out dynamics between needs means
                available building materials attendant skills.
              </p>
              <a href="#" class="read-more">
                <hr class="hr">
                Read More</a>
            </div>
          </div>

          <div class="blog-item">
            <div class="blog-thumb">
              <img src="post-2.jpg" alt="post" width="100%" class="post">
              <span class="category"><a href="#">Architecture</a></span>
            </div>
            <div class="blog-content">
              <h3 class="head">Terrace in the town yamazaki kentaro design workshop.</h3>
              <p class="para">
                Building first evolved out dynamics between needs means
                available building materials attendant skills.
              </p>
              <a href="#" class="read-more">
                <hr class="hr">
                Read More</a>
            </div>
          </div>
        </div>

        <div class="blog-detail">
          <div class="blog-item">
            <div class="blog-thumb">
              <img src="post-3.jpg" alt="post" width="100%" class="post">
              <span class="category"><a href="#">interior</a></span>
            </div>
            <div class="blog-content">
              <h3 class="head">W270 house são paulo arquitetos fabio jorge architeqture.</h3>
              <p class="para">
                Building first evolved out dynamics between needs means
                available building materials attendant skills.
              </p>
              <a href="#" class="read-more">
                <hr class="hr">
                Read More</a>
            </div>
          </div>

          <div class="blog-item">
            <div class="blog-thumb">
              <img src="post-4.jpg" alt="post" width="100%" class="post">
              <span class="category"><a href="#">Architecture</a></span>
            </div>
            <div class="blog-content">
              <h3 class="head">Lascaux IV snøhetta duncan lewis scape architecture.</h3>
              <p class="para">
                Building first evolved out dynamics between needs means
                available building materials attendant skills.
              </p>
              <a href="#" class="read-more">
                <hr class="hr">
                Read More</a>
            </div>
          </div>
        </div>

        <div class="blog-detail">
          <div class="blog-item">
            <div class="blog-thumb">
              <img src="post-5.jpg" alt="post" width="100%" class="post">
              <span class="category"><a href="#">interior</a></span>
            </div>
            <div class="blog-content">
              <h3 class="head">Tai kwun centre for heritage de national meuron.</h3>
              <p class="para">
                Building first evolved out dynamics between needs means
                available building materials attendant skills.
              </p>
              <a href="#" class="read-more">
                <hr class="hr">
                Read More</a>
            </div>
          </div>

          <div class="blog-item">
            <div class="blog-thumb">
              <img src="post-6.jpg" alt="post" width="100%" class="post">
              <span class="category"><a href="#">Architecture</a></span>
            </div>
            <div class="blog-content">
              <h3 class="head">National memorial buildings for peace and justice.</h3>
              <p class="para">
                Building first evolved out dynamics between needs means
                available building materials attendant skills.
              </p>
              <a href="#" class="read-more">
                <hr class="hr">
                Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="right-content">
        <div class="search">
          <input type="text" class="input" placeholder="Type here">
        </div>
        <div class="widget-content">
            <h4 class="head">Categories
              <hr class="hr">
            </h4>
              <ul class="widget-links">
                <li><a href="#" class="link">Architecture</a></li>
                <li><a href="#" class="link">Interior Design</a></li>
                <li><a href="#" class="link">Designing</a></li>
                <li><a href="#" class="link">Construction</a></li>
                <li><a href="#" class="link">Buildings</a></li>
              </ul>
        </div>

        <div class="widget-content">
          <h4 class="head">Recent Posts
            <hr class="hr">
          </h4>
            <ul class="thumb-post">
              <li class="thumb-link">
                <img src="post-1.jpg" alt="post" class="post">
                <a href="#" class="link-text">Minimalist trending in <br>modern architecture 2019</a>
              </li>
              <li class="thumb-link">
                <img src="post-2.jpg" alt="post" class="post">
                <a href="#" class="link-text">Terrace in the town kentaro <br>design workshop.</a>
              </li>
              <li class="thumb-link">
                <img src="post-3.jpg" alt="post" class="post">
                <a href="#" class="link-text">W270 house são arquitetos <br>fabio architeqture.</a>
              </li>
            </ul>
        </div>

        <div class="widget-content">
          <h4 class="head">Tag Clouds
            <hr class="hr">
          </h4>
            <ul class="tags">
              <div class="block">
                <li class="tag-link"><a href="#" class="tag-text">Architecture</a></li>
                <li class="tag-link"><a href="#" class="tag-text">Interior Design</a></li>
                <li class="tag-link"><a href="#" class="tag-text">Designing</a></li>
              </div>
              <div class="block">
                <li class="tag-link"><a href="#" class="tag-text">Construction</a></li>
                <li class="tag-link"><a href="#" class="tag-text">Buildings</a></li>
                <li class="tag-link"><a href="#" class="tag-text">Industrial</a></li>
              </div>
              <div class="block">
                <li class="tag-link"><a href="#" class="tag-text">Factory</a></li>
                <li class="tag-link"><a href="#" class="tag-text">Material</a></li>
              </div>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>