.bg{
    margin: 70px 0px;
    .content-bg{
        .cover{
            position: relative;
            .img{
                height: 500px;
                object-fit: cover;
                object-position: center center;
            }
            .about-text{
            position: absolute;
              top: 50%;
              left: 50%;
              right: -50%;
              transform: translate(-50%, -50%);
              display: flex;
              align-items: center;
              justify-content: center;
                .text{
                    width: 100%;
                    text-align: center;
                    .top-head{
                        color: #9e8a78;
                        font-weight: 400;
                        font-size: 17px;
                        margin-bottom: 10px;
                    }
                    .head{
                        font-size: 36px;
                        line-height: 48px;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 8px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}